<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <a class="navbar-brand" href="/">MNAZ Attender Database</a>
      <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "List Attenders", attenders_path %></li>
            <li><%= link_to "List Classes", classes_path %></li>
            <li><%= link_to "Help",   help_path %></li>
          </ul>
       </nav>
  </div>
</nav>