 <div class="starter-template">

        <div class="jumbotron">
            <h1>Help</h1>
	        <p class="lead">A collection of tips to help you navigate and use the Attender Database</p>  
        </div>
        
        <h4>What is the Attender Database?</h4>
	        <p>Every attender of Monroe Church of the Nazarene is on a journey where the destination is a deep and active relationship with Christ.  This database helps the leadership know more about each attender and have the information they need to disciple them on their journey.</p>
      </div>


